<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <form action="/user/add" method="post">
    <input type="text" name="fname" placeholder="fname"> <br>
    <input type="text" name="lname" placeholder="lname"> <br>
    <button type="submit" name="button">Submit</button>
  </form>
</body>
</html>
